To load the data, first we need to change the current working directory to the main folder, so that we can have access to the Data folder.

In [17]:
%pwd

'c:\\Users\\nav6d'

In [18]:
import os

In [19]:
os.chdir("../")

In [20]:
%pwd

'c:\\Users'

Calling the Data

In [21]:
import numpy as np
import pandas as pd

In [22]:
dataset = pd.read_json("Data/FinQ&A/train_t.json")
dataset.head()

FileNotFoundError: File Data/FinQ&A/train_t.json does not exist

Exploring the first 2 columns data.
- pre_text
- post_text

In [ ]:
dataset["pre_text"].values[0]

['26 | 2009 annual report in fiscal 2008 , revenues in the credit union systems and services business segment increased 14% ( 14 % ) from fiscal 2007 .',
 'all revenue components within the segment experienced growth during fiscal 2008 .',
 'license revenue generated the largest dollar growth in revenue as episys ae , our flagship core processing system aimed at larger credit unions , experienced strong sales throughout the year .',
 'support and service revenue , which is the largest component of total revenues for the credit union segment , experienced 34 percent growth in eft support and 10 percent growth in in-house support .',
 'gross profit in this business segment increased $ 9344 in fiscal 2008 compared to fiscal 2007 , due primarily to the increase in license revenue , which carries the highest margins .',
 'liquidity and capital resources we have historically generated positive cash flow from operations and have generally used funds generated from operations and short-term borrowings on our revolving credit facility to meet capital requirements .',
 'we expect this trend to continue in the future .',
 'the company 2019s cash and cash equivalents increased to $ 118251 at june 30 , 2009 from $ 65565 at june 30 , 2008 .',
 'the following table summarizes net cash from operating activities in the statement of cash flows : 2009 2008 2007 .']

The text in the `pre_text` column seems to provide a general and vague discussion about the company's financial performance. It highlights aspects such as revenue growth, profitability, and liquidity but lacks detailed analysis or comprehensive financial.

In [ ]:
dataset["post_text"].values[0]

['year ended june 30 , cash provided by operations increased $ 25587 to $ 206588 for the fiscal year ended june 30 , 2009 as compared to $ 181001 for the fiscal year ended june 30 , 2008 .',
 'this increase is primarily attributable to a decrease in receivables compared to the same period a year ago of $ 21214 .',
 'this decrease is largely the result of fiscal 2010 annual software maintenance billings being provided to customers earlier than in the prior year , which allowed more cash to be collected before the end of the fiscal year than in previous years .',
 'further , we collected more cash overall related to revenues that will be recognized in subsequent periods in the current year than in fiscal 2008 .',
 'cash used in investing activities for the fiscal year ended june 2009 was $ 59227 and includes $ 3027 in contingent consideration paid on prior years 2019 acquisitions .',
 'cash used in investing activities for the fiscal year ended june 2008 was $ 102148 and includes payments for acquisitions of $ 48109 , plus $ 1215 in contingent consideration paid on prior years 2019 acquisitions .',
 'capital expenditures for fiscal 2009 were $ 31562 compared to $ 31105 for fiscal 2008 .',
 'cash used for software development in fiscal 2009 was $ 24684 compared to $ 23736 during the prior year .',
 'net cash used in financing activities for the current fiscal year was $ 94675 and includes the repurchase of 3106 shares of our common stock for $ 58405 , the payment of dividends of $ 26903 and $ 13489 net repayment on our revolving credit facilities .',
 'cash used in financing activities was partially offset by proceeds of $ 3773 from the exercise of stock options and the sale of common stock ( through the employee stock purchase plan ) and $ 348 excess tax benefits from stock option exercises .',
 'during fiscal 2008 , net cash used in financing activities for the fiscal year was $ 101905 and includes the repurchase of 4200 shares of our common stock for $ 100996 , the payment of dividends of $ 24683 and $ 429 net repayment on our revolving credit facilities .',
 'cash used in financing activities was partially offset by proceeds of $ 20394 from the exercise of stock options and the sale of common stock and $ 3809 excess tax benefits from stock option exercises .',
 'beginning during fiscal 2008 , us financial markets and many of the largest us financial institutions have been shaken by negative developments in the home mortgage industry and the mortgage markets , and particularly the markets for subprime mortgage-backed securities .',
 'since that time , these and other such developments have resulted in a broad , global economic downturn .',
 'while we , as is the case with most companies , have experienced the effects of this downturn , we have not experienced any significant issues with our current collection efforts , and we believe that any future impact to our liquidity will be minimized by cash generated by recurring sources of revenue and due to our access to available lines of credit. .']

The text in the `post_text` column provides a slightly more detailed breakdown of the company's financial activities compared to the `pre_text`. It includes specific figures and explanations related to:

- Cash flow from operating, investing, and financing activities.
- The drivers behind changes in cash flow, such as early software maintenance billings and stock repurchases.
- Context regarding broader economic conditions and their effects on the company's financial stability.

Now, the third column.

In [ ]:
year = set()
stocks = set()
for i in dataset["filename"].value_counts().index:
    year.add(i.split("/")[1])
    stocks.add(i.split("/")[0])

In [ ]:
print(f"Total Years: {len(year)}")
print(f"List of years: {sorted(year)}")

Total Years: 20
List of years: ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

In [ ]:
print(f"Total number of the companies: {len(stocks)}")

Total number of the companies: 133

In [ ]:
stocks

{'AAL',
 'AAP',
 'AAPL',
 'ABMD',
 'ADBE',
 'ADI',
 'AES',
 'ALLE',
 'ALXN',
 'AMAT',
 'AMT',
 'ANET',
 'ANSS',
 'AON',
 'AOS',
 'APD',
 'APTV',
 'AWK',
 'BDX',
 'BKNG',
 'BKR',
 'BLK',
 'BLL',
 'C',
 'CAG',
 'CAT',
 'CB',
 'CDNS',
 'CDW',
 'CE',
 'CMCSA',
 'CME',
 'CNC',
 'D',
 'DG',
 'DISCA',
 'DISH',
 'DRE',
 'DVN',
 'ECL',
 'EL',
 'EMN',
 'EMR',
 'EOG',
 'ETFC',
 'ETR',
 'EW',
 'EXPD',
 'EXR',
 'FBHS',
 'FIS',
 'FITB',
 'FRT',
 'FTV',
 'GIS',
 'GPN',
 'GRMN',
 'GS',
 'HFC',
 'HIG',
 'HII',
 'HOLX',
 'HST',
 'HUM',
 'HWM',
 'ILMN',
 'INTC',
 'IP',
 'IPG',
 'IQV',
 'JKHY',
 'JPM',
 'K',
 'KHC',
 'KIM',
 'KMI',
 'L',
 'LKQ',
 'LLY',
 'LMT',
 'MA',
 'MAA',
 'MAR',
 'MAS',
 'MKTX',
 'MMM',
 'MO',
 'MRK',
 'MRO',
 'MS',
 'MSI',
 'NCLH',
 'NKE',
 'NTAP',
 'NWS',
 'OKE',
 'ORLY',
 'PKG',
 'PM',
 'PNC',
 'PPG',
 'RCL',
 'RE',
 'REGN',
 'RL',
 'RSG',
 'SLB',
 'SLG',
 'SNA',
 'SNPS',
 'SPGI',
 'STT',
 'STZ',
 'SWKS',
 'SYY',
 'TFX',
 'TMUS',
 'TROW',
 'TSCO',
 'TXN',
 'UA',
 'UAA',
 'UNP',
 'UPS',
 'V',
 'VLO',
 'VNO',
 'VRTX',
 'VTR',
 'WELL',
 'WMT',
 'WRK',
 'ZBH'}

These stocks are seemed to be part of the s&p500 index.

The fourth and fifth column.

In [ ]:
dataset["table_ori"].values[0]

[['', 'Year ended June 30, 2009'],
 ['2008', '2007'],
 ['Net income', '$103,102', '$104,222', '$104,681'],
 ['Non-cash expenses', '74,397', '70,420', '56,348'],
 ['Change in receivables', '21,214', '(2,913)', '(28,853)'],
 ['Change in deferred revenue', '21,943', '5,100', '24,576'],
 ['Change in other assets and liabilities', '(14,068)', '4,172', '17,495'],
 ['Net cash from operating activities', '$206,588', '$181,001', '$174,247']]

In [ ]:
dataset["table_ori"].values[5]

[['',
  'Year Ended December 31, 2008 (Unaudited)',
  'Year Ended December 31, 2007 (Unaudited)'],
 ['Revenue', '$9,362.2', '$9,244.9'],
 ['Income from continuing operations available to common stockholders',
  '285.7',
  '423.2'],
 ['Basic earnings per share', '.76', '1.10'],
 ['Diluted earnings per share', '.75', '1.09']]

In [ ]:
dataset["table_ori"].values[15]

[['', '12/31/04', '12/31/05', '12/31/06', '12/31/07', '12/31/08', '12/31/09'],
 ['United Parcel Service, Inc.',
  '$100.00',
  '$89.49',
  '$91.06',
  '$87.88',
  '$70.48',
  '$75.95'],
 ['S&P 500 Index',
  '$100.00',
  '$104.91',
  '$121.48',
  '$128.15',
  '$80.74',
  '$102.11'],
 ['Dow Jones Transportation Average',
  '$100.00',
  '$111.65',
  '$122.61',
  '$124.35',
  '$97.72',
  '$115.88']]

In [ ]:
dataset["table"].values[0]

[['2008',
  'year ended june 30 2009 2008',
  'year ended june 30 2009 2008',
  'year ended june 30 2009'],
 ['net income', '$ 103102', '$ 104222', '$ 104681'],
 ['non-cash expenses', '74397', '70420', '56348'],
 ['change in receivables', '21214', '-2913 ( 2913 )', '-28853 ( 28853 )'],
 ['change in deferred revenue', '21943', '5100', '24576'],
 ['change in other assets and liabilities',
  '-14068 ( 14068 )',
  '4172',
  '17495'],
 ['net cash from operating activities', '$ 206588', '$ 181001', '$ 174247']]

In [ ]:
dataset["table"].values[5]

[['',
  'year ended december 31 2008 ( unaudited )',
  'year ended december 31 2007 ( unaudited )'],
 ['revenue', '$ 9362.2', '$ 9244.9'],
 ['income from continuing operations available to common stockholders',
  '285.7',
  '423.2'],
 ['basic earnings per share', '.76', '1.10'],
 ['diluted earnings per share', '.75', '1.09']]

These seems to be the data extracted from a table.

The sixth column

In [ ]:
dataset["qa"].values[0]

{'question': 'what was the percentage change in the net cash from operating activities from 2008 to 2009',
 'answer': '14.1%',
 'explanation': '',
 'ann_table_rows': [6],
 'ann_text_rows': [],
 'steps': [{'op': 'minus2-1',
   'arg1': '206588',
   'arg2': '181001',
   'res': '25587'},
  {'op': 'divide2-2', 'arg1': '#0', 'arg2': '181001', 'res': '14.1%'}],
 'program': 'subtract(206588, 181001), divide(#0, 181001)',
 'gold_inds': {'table_6': '2008 the net cash from operating activities of year ended june 30 2009 2008 is $ 206588 ; the net cash from operating activities of year ended june 30 2009 2008 is $ 181001 ; the net cash from operating activities of year ended june 30 2009 is $ 174247 ;'},
 'exe_ans': 0.14136,
 'program_re': 'divide(subtract(206588, 181001), 181001)'}

This appears to be a structured format for a question-answer type scenario with steps for the calculations.

The seventh column.

In [ ]:
dataset["id"]

0        Single_JKHY/2009/page_28.pdf-3_0
1        Single_JKHY/2009/page_28.pdf-3_1
2        Single_JKHY/2009/page_28.pdf-3_2
3        Single_JKHY/2009/page_28.pdf-3_3
4        Single_RSG/2008/page_114.pdf-2_0
                       ...
11099       Double_IPG/2015/page_24.pdf_1
11100       Double_IPG/2015/page_24.pdf_2
11101       Double_IPG/2015/page_24.pdf_3
11102     Single_CDW/2017/page_56.pdf-2_0
11103     Single_CDW/2017/page_56.pdf-2_1
Name: id, Length: 11104, dtype: object

It seems this column just tells whether the pdf is single paged or not.

The eighth column

In [ ]:
dataset["annotation"].values[0]

{'amt_table': "<table class='wikitable'><tr><td>1</td><td>2008</td><td>year ended june 30 2009 2008</td><td>year ended june 30 2009 2008</td><td>year ended june 30 2009</td></tr><tr><td>2</td><td>net income</td><td>$ 103102</td><td>$ 104222</td><td>$ 104681</td></tr><tr><td>3</td><td>non-cash expenses</td><td>74397</td><td>70420</td><td>56348</td></tr><tr><td>4</td><td>change in receivables</td><td>21214</td><td>-2913 ( 2913 )</td><td>-28853 ( 28853 )</td></tr><tr><td>5</td><td>change in deferred revenue</td><td>21943</td><td>5100</td><td>24576</td></tr><tr><td>6</td><td>change in other assets and liabilities</td><td>-14068 ( 14068 )</td><td>4172</td><td>17495</td></tr><tr><td>7</td><td>net cash from operating activities</td><td>$ 206588</td><td>$ 181001</td><td>$ 174247</td></tr></table>",
 'amt_pre_text': '26 | 2009 annual report in fiscal 2008 , revenues in the credit union systems and services business segment increased 14% ( 14 % ) from fiscal 2007 . all revenue components within the segment experienced growth during fiscal 2008 . license revenue generated the largest dollar growth in revenue as episys ae , our flagship core processing system aimed at larger credit unions , experienced strong sales throughout the year . support and service revenue , which is the largest component of total revenues for the credit union segment , experienced 34 percent growth in eft support and 10 percent growth in in-house support . gross profit in this business segment increased $ 9344 in fiscal 2008 compared to fiscal 2007 , due primarily to the increase in license revenue , which carries the highest margins . liquidity and capital resources we have historically generated positive cash flow from operations and have generally used funds generated from operations and short-term borrowings on our revolving credit facility to meet capital requirements . we expect this trend to continue in the future . the company 2019s cash and cash equivalents increased to $ 118251 at june 30 , 2009 from $ 65565 at june 30 , 2008 . the following table summarizes net cash from operating activities in the statement of cash flows : 2009 2008 2007 .',
 'amt_post_text': 'year ended june 30 , cash provided by operations increased $ 25587 to $ 206588 for the fiscal year ended june 30 , 2009 as compared to $ 181001 for the fiscal year ended june 30 , 2008 . this increase is primarily attributable to a decrease in receivables compared to the same period a year ago of $ 21214 . this decrease is largely the result of fiscal 2010 annual software maintenance billings being provided to customers earlier than in the prior year , which allowed more cash to be collected before the end of the fiscal year than in previous years . further , we collected more cash overall related to revenues that will be recognized in subsequent periods in the current year than in fiscal 2008 . cash used in investing activities for the fiscal year ended june 2009 was $ 59227 and includes $ 3027 in contingent consideration paid on prior years 2019 acquisitions . cash used in investing activities for the fiscal year ended june 2008 was $ 102148 and includes payments for acquisitions of $ 48109 , plus $ 1215 in contingent consideration paid on prior years 2019 acquisitions . capital expenditures for fiscal 2009 were $ 31562 compared to $ 31105 for fiscal 2008 . cash used for software development in fiscal 2009 was $ 24684 compared to $ 23736 during the prior year . net cash used in financing activities for the current fiscal year was $ 94675 and includes the repurchase of 3106 shares of our common stock for $ 58405 , the payment of dividends of $ 26903 and $ 13489 net repayment on our revolving credit facilities . cash used in financing activities was partially offset by proceeds of $ 3773 from the exercise of stock options and the sale of common stock ( through the employee stock purchase plan ) and $ 348 excess tax benefits from stock option exercises . during fiscal 2008 , net cash used in financing activities for the fiscal year was $ 101905 and includes the repurchase of 4200 shares of our common stock for $ 100996 , the payment of dividends of $ 24683 and $ 429 net repayment on our revolving credit facilities . cash used in financing activities was partially offset by proceeds of $ 20394 from the exercise of stock options and the sale of common stock and $ 3809 excess tax benefits from stock option exercises . beginning during fiscal 2008 , us financial markets and many of the largest us financial institutions have been shaken by negative developments in the home mortgage industry and the mortgage markets , and particularly the markets for subprime mortgage-backed securities . since that time , these and other such developments have resulted in a broad , global economic downturn . while we , as is the case with most companies , have experienced the effects of this downturn , we have not experienced any significant issues with our current collection efforts , and we believe that any future impact to our liquidity will be minimized by cash generated by recurring sources of revenue and due to our access to available lines of credit. .',
 'original_program': 'subtract(206588, 181001), divide(A0, 181001)',
 'step_list': ['Ask for number 206588',
  'Ask for number 181001',
  'subtract(206588, 181001)',
  'divide(A0, 181001)'],
 'answer_list': ['206588', '181001', 'A0', 'A1'],
 'dialogue_break': ['what is the net cash from operating activities in 2009?',
  'what about in 2008?',
  'what is the difference?',
  'what percentage change does this represent?'],
 'turn_program_ori': ['206588',
  '181001',
  'subtract(206588, 181001)',
  'subtract(206588, 181001), divide(#0, 181001)'],
 'dialogue_break_ori': ['what is the net cash from operating activities in 2009?',
  'what about in 2008?',
  'what is the difference?',
  'what percentage change does this represent?'],
 'turn_program': ['206588',
  '181001',
  'subtract(206588, 181001)',
  'subtract(206588, 181001), divide(#0, 181001)'],
 'qa_split': [0, 0, 0, 0],
 'exe_ans_list': [206588.0, 181001.0, 25587.0, 0.14136],
 'cur_program': '206588',
 'cur_dial': ['what is the net cash from operating activities in 2009?'],
 'exe_ans': 206588.0,
 'cur_type': 'number_turn',
 'turn_ind': 0,
 'gold_ind': {'table_6': '2008 the net cash from operating activities of year ended june 30 2009 2008 is $ 206588 ; the net cash from operating activities of year ended june 30 2009 2008 is $ 181001 ; the net cash from operating activities of year ended june 30 2009 is $ 174247 ;'}}

- The 1st key `amt_table` contains the unextracted data from the column `table_uri`.
- The 2nd and 3rd keys are same as the columns `pre_text` and `post_text`.
- The 4th key `original_program` contains the method used for the calculations.
- The 5th key `step_list` contains the steps taken by the automated model for the calculations.
- The 6th key `answer_list` holds the values and the answers of the calculations.
- The 7th key `dialogue_break` contains all the questions that was asked for the specific pdf in a single session.
- The 8th key `turn_program_ori` contains the steps for calculations.
- The 9th key `dialogue_break_ori` is the same as that of 7th key `dialogue_break`.
- The 10th key `turn_program` is again the same as 8th key `turn_program_ori`.
- The 11th key `qa_split`: No idea
- The 12th key `exe_ans_list` a list containing the values and answers.
- The 13th key `cur_program`, here it contains the answer to the first question.
- The 14th key `cur_dial`, it holds the questions asked by the user. (new questions will be appended)
- The 15th key `exe_ans`, answer to the question.
- The 16th key `cur_type`: No idea
- The 17th key `turn_ind`, this might be the ith question the user asked in a session.
- The 18th key `gold_ind`, all the final outputs the automated model gave.

The 9th and 10th columns.

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11104 entries, 0 to 11103
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pre_text    11104 non-null  object
 1   post_text   11104 non-null  object
 2   filename    11104 non-null  object
 3   table_ori   11104 non-null  object
 4   table       11104 non-null  object
 5   qa          7462 non-null   object
 6   id          11104 non-null  object
 7   annotation  11104 non-null  object
 8   qa_0        3642 non-null   object
 9   qa_1        3642 non-null   object
dtypes: object(10)
memory usage: 867.6+ KB

In [ ]:
len(dataset[~dataset["qa"].isna()]) + len(dataset[~dataset["qa_0"].isna()])

11104

It seems when the qa is not nan the other columns qa_1 and qa_2 are nan, whereas when qa is nan, there are values in those 2 columns.

In [ ]:
dataset_new = dataset[~dataset["qa_0"].isna()].head().copy()

In [ ]:
dataset_new

,pre_text,post_text,filename,table_ori,table,qa,id,annotation,qa_0,qa_1
18,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",NaN,Double_UPS/2009/page_33.pdf_0,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the roi of an investment...,{'question': 'what was the difference in perce...
19,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",NaN,Double_UPS/2009/page_33.pdf_1,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the roi of an investment...,{'question': 'what was the difference in perce...
20,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",NaN,Double_UPS/2009/page_33.pdf_2,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the roi of an investment...,{'question': 'what was the difference in perce...
21,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",NaN,Double_UPS/2009/page_33.pdf_3,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the roi of an investment...,{'question': 'what was the difference in perce...
22,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",NaN,Double_UPS/2009/page_33.pdf_4,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the roi of an investment...,{'question': 'what was the difference in perce...

In [ ]:
dataset_new["qa_0"].values[0]

{'question': 'what is the roi of an investment in ups in 2004 and sold in 2006?',
 'answer': '-8.9%',
 'explanation': '',
 'ann_table_rows': [1],
 'ann_text_rows': [],
 'steps': [{'op': 'minus1-1',
   'arg1': '91.06',
   'arg2': 'const_100',
   'res': '-8.94'},
  {'op': 'divide1-2', 'arg1': '#0', 'arg2': 'const_100', 'res': '-8.9%'}],
 'program': 'subtract(91.06, const_100), divide(#0, const_100)',
 'gold_inds': {'table_1': 'the united parcel service inc . of 12/31/04 is $ 100.00 ; the united parcel service inc . of 12/31/05 is $ 89.49 ; the united parcel service inc . of 12/31/06 is $ 91.06 ; the united parcel service inc . of 12/31/07 is $ 87.88 ; the united parcel service inc . of 12/31/08 is $ 70.48 ; the united parcel service inc . of 12/31/09 is $ 75.95 ;'},
 'exe_ans': -0.08940000000000001,
 'program_re': 'divide(subtract(91.06, const_100), const_100)'}

In [ ]:
dataset_new["qa_1"].values[0]

{'question': 'what was the difference in percentage cumulative return on investment for united parcel service inc . compared to the s&p 500 index for the five year period ended 12/31/09?',
 'answer': '-26.16%',
 'explanation': '',
 'ann_table_rows': [1, 2],
 'ann_text_rows': [],
 'steps': [{'op': 'minus2-1',
   'arg1': '75.95',
   'arg2': 'const_100',
   'res': '-24.05'},
  {'op': 'divide2-2', 'arg1': '#0', 'arg2': 'const_100', 'res': '-24.05%'},
  {'op': 'minus2-3', 'arg1': '102.11', 'arg2': 'const_100', 'res': '2.11'},
  {'op': 'divide2-4', 'arg1': '#2', 'arg2': 'const_100', 'res': '2.11%'},
  {'op': 'minus2-5', 'arg1': '#1', 'arg2': '#3', 'res': '-26.16%'}],
 'program': 'subtract(75.95, const_100), divide(#0, const_100), subtract(102.11, const_100), divide(#2, const_100), subtract(#1, #3)',
 'gold_inds': {'table_1': 'the united parcel service inc . of 12/31/04 is $ 100.00 ; the united parcel service inc . of 12/31/05 is $ 89.49 ; the united parcel service inc . of 12/31/06 is $ 91.06 ; the united parcel service inc . of 12/31/07 is $ 87.88 ; the united parcel service inc . of 12/31/08 is $ 70.48 ; the united parcel service inc . of 12/31/09 is $ 75.95 ;',
  'table_2': 'the s&p 500 index of 12/31/04 is $ 100.00 ; the s&p 500 index of 12/31/05 is $ 104.91 ; the s&p 500 index of 12/31/06 is $ 121.48 ; the s&p 500 index of 12/31/07 is $ 128.15 ; the s&p 500 index of 12/31/08 is $ 80.74 ; the s&p 500 index of 12/31/09 is $ 102.11 ;'},
 'exe_ans': -0.2616,
 'program_re': 'subtract(divide(subtract(75.95, const_100), const_100), divide(subtract(102.11, const_100), const_100))'}

Feature Engineering

Firstly, we gonna extract the data which is required from the train1.json and create a new dataframe

In [ ]:
dataset1 = pd.read_json("Data/FinQ&A/train1.json")
dataset1.head()

,table,paragraphs,questions
0,{'uid': 'e78f8b29-6085-43de-b32f-be1a68641be3'...,[{'uid': '62be4f5a-1693-4e6b-8bb4-0a4e1e40b409...,[{'uid': '9c569bea-e036-4c27-8e41-82c6efab1d31...
1,{'uid': '98c16699-d385-4631-91de-1bc3c87f9f99'...,[{'uid': '1ef0dbdd-15d0-4577-b068-dca80af4f851...,[{'uid': 'dd2a72ca-f65c-4673-9820-f7cefcb06ee4...
2,{'uid': '991d23d7-f32d-4954-8e1d-87ad22470fcf'...,[{'uid': '6597634c-716e-4a2d-9a19-22f8563a0b1a...,[{'uid': '9ef99ae1-e17b-4b51-b81e-48cc48a481d1...
3,{'uid': '806ac467-ab50-428b-8584-baef6d6c4cee'...,[{'uid': 'bc15602d-7889-4e0e-889d-722bec1e9ead...,[{'uid': 'd4919a15-b02b-4392-99ae-9eccd114e0ff...
4,{'uid': '67111519-017b-4638-9a74-41eb792c2f0f'...,[{'uid': '0a92704a-5cd8-4761-8c5f-afe01f89a820...,[{'uid': 'd6a3a306-fb34-48dc-838e-3d109f60d685...

In [ ]:
dataset1['table'].values[0]

{'uid': 'e78f8b29-6085-43de-b32f-be1a68641be3',
 'table': [['', '2019 %', '2018 %', '2017 %'],
  ['Weighted average actuarial assumptions used at 31 March1:', '', '', ''],
  ['Rate of inflation2', '2.9', '2.9', '3.0'],
  ['Rate of increase in salaries', '2.7', '2.7', '2.6'],
  ['Discount rate', '2.3', '2.5', '2.6']]}

In [ ]:
dataset1['paragraphs'].values[0]

[{'uid': '62be4f5a-1693-4e6b-8bb4-0a4e1e40b409',
  'order': 1,
  'text': 'Actuarial assumptions'},
 {'uid': 'c63e6ed5-8fe5-46e4-a02a-f923e90e8067',
  'order': 2,
  'text': 'The Groups scheme liabilities are measured using the projected unit credit method using the principal actuarial assumptions set out below:'},
 {'uid': 'b4093fd4-43ea-4b31-9975-13c0012a0b18',
  'order': 3,
  'text': 'Notes: 1 Figures shown represent a weighted average assumption of the individual schemes.'},
 {'uid': '9f6ecb32-9e2c-4036-8209-8905855145c0',
  'order': 4,
  'text': '2 The rate of increases in pensions in payment and deferred revaluation are dependent on the rate of inflation.'}]

In [ ]:
dataset1['questions'].values[0]

[{'uid': '9c569bea-e036-4c27-8e41-82c6efab1d31',
  'order': 1,
  'question': 'What does the Weighted average actuarial assumptions consist of?',
  'answer': ['Rate of inflation',
   'Rate of increase in salaries',
   'Discount rate'],
  'derivation': '',
  'answer_type': 'multi-span',
  'answer_from': 'table',
  'rel_paragraphs': [],
  'req_comparison': False,
  'scale': ''},
 {'uid': '83dcc128-9777-4ae2-ba55-50162ac43257',
  'order': 2,
  'question': 'How much is the 2019 rate of inflation?',
  'answer': ['2.9'],
  'derivation': '',
  'answer_type': 'span',
  'answer_from': 'table',
  'rel_paragraphs': [],
  'req_comparison': False,
  'scale': 'percent'},
 {'uid': '0384152d-1f9f-4b12-85a9-2ca5e1c97682',
  'order': 3,
  'question': 'How much is the 2018 rate of inflation?',
  'answer': ['2.9'],
  'derivation': '',
  'answer_type': 'span',
  'answer_from': 'table',
  'rel_paragraphs': [],
  'req_comparison': False,
  'scale': 'percent'},
 {'uid': 'dbee8930-0110-41c7-95fe-0178ddf4f841',
  'order': 4,
  'question': 'What is the 2019 average rate of inflation?',
  'answer': 2.9,
  'derivation': '(2.9+2.9)/2',
  'answer_type': 'arithmetic',
  'answer_from': 'table',
  'rel_paragraphs': [],
  'req_comparison': False,
  'scale': 'percent'},
 {'uid': '1665b441-93e5-481d-b0b4-2d28ce70e1a8',
  'order': 5,
  'question': 'What is the 2019 average rate of increase in salaries?',
  'answer': 2.7,
  'derivation': '(2.7+2.7)/2',
  'answer_type': 'arithmetic',
  'answer_from': 'table',
  'rel_paragraphs': [],
  'req_comparison': False,
  'scale': 'percent'},
 {'uid': '2cec8a99-3a83-409b-886b-dbb65a05fb25',
  'order': 6,
  'question': 'What is the difference between 2019 average rate of inflation and 2019 average rate of increase in salaries?',
  'answer': 0.2,
  'derivation': '[(2.9+2.9)/2] - [(2.7+2.7)/2]',
  'answer_type': 'arithmetic',
  'answer_from': 'table',
  'rel_paragraphs': [],
  'req_comparison': False,
  'scale': 'percent'}]

We can see here, the columns question, answer, answer_type and derivation are the main features with which we create a separate dataframe

In [ ]:
# Create an empty list to store DataFrames
all_questions = []

# Iterate through each entry in the data and normalize the 'questions' field
for i  in range(0,len(dataset1)):
    questions_data = dataset1['questions'][i]  # Extract the questions
    df = pd.json_normalize(questions_data)  # Normalize the data
    all_questions.append(df)

# Concatenate all DataFrames into one
df_full = pd.concat(all_questions, ignore_index=True)

# Select the relevant columns
df_filtered = df_full[['question', 'answer', 'answer_type', 'derivation']]

# View the resulting DataFrame
print(df_filtered)

                                                question  \
0      What does the Weighted average actuarial assum...
1                How much is the 2019 rate of inflation?
2                How much is the 2018 rate of inflation?
3            What is the 2019 average rate of inflation?
4      What is the 2019 average rate of increase in s...
...                                                  ...
13210  What are the types of derivative financial ins...
13211  What are the types of derivative financial ins...
13212  In which year was the amount of forward exchan...
13213  What was the change in interest rate swaps fro...
13214  What was the percentage change in interest rat...

                                                  answer answer_type  \
0      [Rate of inflation, Rate of increase in salari...  multi-span
1                                                  [2.9]        span
2                                                  [2.9]        span
3                                                    2.9  arithmetic
4                                                    2.7  arithmetic
...                                                  ...         ...
13210         [Forward freight agreements, Bunker swaps]  multi-span
13211  [Forward exchange contracts, Interest rate swaps]  multi-span
13212                                             [2018]        span
13213                                              -13.9  arithmetic
13214                                            -496.43  arithmetic

            derivation
0
1
2
3          (2.9+2.9)/2
4          (2.7+2.7)/2
...                ...
13210
13211
13212      |1.8|>|0.4|
13213        -11.1-2.8
13214  (-11.1-2.8)/2.8

[13215 rows x 4 columns]

In [ ]:
df_full

,uid,order,question,answer,derivation,answer_type,answer_from,rel_paragraphs,req_comparison,scale
0,9c569bea-e036-4c27-8e41-82c6efab1d31,1,What does the Weighted average actuarial assum...,"[Rate of inflation, Rate of increase in salari...",,multi-span,table,[],False,
1,83dcc128-9777-4ae2-ba55-50162ac43257,2,How much is the 2019 rate of inflation?,[2.9],,span,table,[],False,percent
2,0384152d-1f9f-4b12-85a9-2ca5e1c97682,3,How much is the 2018 rate of inflation?,[2.9],,span,table,[],False,percent
3,dbee8930-0110-41c7-95fe-0178ddf4f841,4,What is the 2019 average rate of inflation?,2.9,(2.9+2.9)/2,arithmetic,table,[],False,percent
4,1665b441-93e5-481d-b0b4-2d28ce70e1a8,5,What is the 2019 average rate of increase in s...,2.7,(2.7+2.7)/2,arithmetic,table,[],False,percent
...,...,...,...,...,...,...,...,...,...,...
13210,a05237d9-71e8-4043-b730-bddbf60484e5,2,What are the types of derivative financial ins...,"[Forward freight agreements, Bunker swaps]",,multi-span,table-text,[1],False,
13211,8521a4f9-8d1b-4c09-8986-8d7a256820f8,3,What are the types of derivative financial ins...,"[Forward exchange contracts, Interest rate swaps]",,multi-span,table-text,[1],False,
13212,913f9b6d-f925-4db6-8045-5974bf39054b,4,In which year was the amount of forward exchan...,[2018],|1.8|>|0.4|,span,table,[],True,
13213,10d013fa-2416-4d88-a98b-b9b7cb5e568d,5,What was the change in interest rate swaps fro...,-13.9,-11.1-2.8,arithmetic,table,[],False,million
13214,4fe47a4b-a393-4a3c-88a9-f6cce08fa9c8,6,What was the percentage change in interest rat...,-496.43,(-11.1-2.8)/2.8,arithmetic,table,[],False,percent

In [ ]:
print(df_filtered.head(10))

                                            question  \
0  What does the Weighted average actuarial assum...
1            How much is the 2019 rate of inflation?
2            How much is the 2018 rate of inflation?
3        What is the 2019 average rate of inflation?
4  What is the 2019 average rate of increase in s...
5  What is the difference between 2019 average ra...
6  How was internally developed software capitali...
7  How much was the closing net book amount for s...
8                  What was the total cost for 2019?
9  What was the percentage change in cost of soft...

                                              answer answer_type  \
0  [Rate of inflation, Rate of increase in salari...  multi-span
1                                              [2.9]        span
2                                              [2.9]        span
3                                                2.9  arithmetic
4                                                2.7  arithmetic
5                                                0.2  arithmetic
6           [at cost less accumulated amortisation.]        span
7                                           [16,284]        span
8                                           [29,259]        span
9                                             150.18  arithmetic

                      derivation
0
1
2
3                    (2.9+2.9)/2
4                    (2.7+2.7)/2
5  [(2.9+2.9)/2] - [(2.7+2.7)/2]
6
7
8
9      (16,284 - 6,509) / 6,509

In [ ]:
# Save the DataFrame as a CSV file just to check the data
df_filtered.to_csv('Data/questions_table.csv', index=False)

NameError: name 'df_filtered' is not defined